[defaults]
inventory = inventory/terraform_inventory.py,inventory/home_lab.yml
roles_path = roles
retry_files_enabled = false
host_key_checking = false

[ssh_connection]
pipelining = true

[inventory]
